<a href="https://colab.research.google.com/github/IKAR42/SberDS_Study/blob/main/HW_3_ML_(v_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

In [1]:
# импортированные библиотеки

from sklearn.model_selection import train_test_split

In [5]:
RANDOM_STATE = 42

results_regression = pd.DataFrame(columns = ['model', 'task', 'R2'])
results_classification = pd.DataFrame(columns = ['model', 'task', 'f1', 'accuracy'])

https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
data = pd.read_csv('drive/My Drive/Colab Notebooks/boston.csv')
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

1. Разделите выборку на обучающую и тестовую в отношении 80%/20%, предварительно выделив целевую переменную (колонка 'MEDV').

In [8]:
x = data.drop('MEDV',axis=1)
y = data['MEDV']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((404, 13), (102, 13), (404,), (102,))

2. Обучите стандартную регрессию, а также Ridge и  Lasso с параметрами по умолчанию и выведите их R2 на тестовой выборке

In [23]:
#импорт библиотек

from sklearn.linear_model import LinearRegression,Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [11]:
%%time
#линейная регрессия
LR = LinearRegression()
LR.fit(x_train, y_train)

y_pred = LR.predict(x_test)
r2_lr = r2_score(y_test, y_pred)

#Ridge

Ridge = Ridge()
Ridge.fit(x_train, y_train)

y_pred_r = Ridge.predict(x_test)
r2_ridge = r2_score(y_test, y_pred_r)

#Lasso

Lasso = Lasso()
Lasso.fit(x_train, y_train)

y_pred_l = Lasso.predict(x_test)
r2_lasso = r2_score(y_test, y_pred_l)

print('r2_lr:', r2_lr)
print('r2_ridge:', r2_ridge)
print('r2_lasso:', r2_lasso)


#r2_lr = 0
#r2_ridge = 0
#r2_lasso = 0
results_regression.loc[0] = ['LR', 'task2', r2_lr]
results_regression.loc[1] = ['Ridge', 'task2', r2_ridge]
results_regression.loc[2] = ['Lasso', 'task2', r2_lasso]

r2_lr: 0.6684825753971597
r2_ridge: 0.6659608075261694
r2_lasso: 0.6668687223368213
CPU times: user 24.3 ms, sys: 1.99 ms, total: 26.3 ms
Wall time: 45.3 ms

3. Для Ridge и Lasso подберите коэффициент регуляризации двумя способами 1) GridSearchCV, 2) RidgeCV и LassoCV, в пределах от $10^{-5}$ до $10^5$ (по степеням 10). Посчитайте R2 на тестовой выборке по всем моделям и сравните с предыдущими результатами.

In [22]:
# Импортировал библиотеки

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV

In [13]:
# создал массив данных с параметрами для исследовани
parametrs = { 'alpha': np.array([10 ** n for n in range(-5, 6)])}
parametrs

{'alpha': array([1.e-05, 1.e-04, 1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02,
        1.e+03, 1.e+04, 1.e+05])}

In [14]:
np.array([10 ** n for n in range(-5, 6)]).shape

(11,)

In [15]:
[10 ** n for n in range(-5, 6)]

[1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]

In [16]:
#Ridge_GridSearchCV

GS_LR = GridSearchCV(Ridge, parametrs, cv=5)
GS_LR.fit(x_train, y_train)
y_pred_gs_rl = GS_LR.predict(x_test)
r2_ridge_grid_search = r2_score(y_test, y_pred_gs_rl)
print('r2_ridge_grid_search:', r2_ridge_grid_search)

#Lasso_GridSearchCV

GS_L = GridSearchCV(Lasso, parametrs, cv=5)
GS_L.fit(x_train, y_train)
y_pred_gs_l = GS_L.predict(x_test)
r2_lasso_grid_search = r2_score(y_test, y_pred_gs_l)
print('r2_lasso_grid_search:', r2_lasso_grid_search)

#RidgeCV

RCV = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x, y)
y_pred_rcv = RCV.predict(x_test)
r2_ridge_cv = r2_score(y_test, y_pred_rcv)
print('r2_ridge_cv:', r2_ridge_cv)

#LassoCV

LCV = LassoCV(cv=5, random_state=42).fit(x, y)
y_pred_lcv = LCV.predict(x_test)
r2_lasso_cv = r2_score(y_test, y_pred_lcv)
print('r2_lasso_cv:', r2_lasso_cv)


#r2_ridge_grid_search = 0
#r2_ridge_cv = 0
#r2_lasso_grid_search = 0

r2_ridge_grid_search: 0.6684825680074258
r2_lasso_grid_search: 0.6684829595885677
r2_ridge_cv: 0.7024461459233933
r2_lasso_cv: 0.6972224206174225

In [17]:
# заметка для меня на будущее - узнать лучшие параметры через gridsearch
GS_LR.best_params_

{'alpha': 1e-05}

4. Проведите масштабирование выборки (используйте Pipeline, StandardScaler, MinMaxScaler), посчитайте R2 для Ridge и Lasso с параметрами по умолчанию и сравните с предыдущими результатами.

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [19]:
# StandardScaler

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [20]:
# MinMaxScaler

min_max_scaler = MinMaxScaler()
x_train_scaled_m = min_max_scaler.fit_transform(x_train)
x_test_scaled_m = min_max_scaler.transform(x_test)

In [24]:
#Ridge StandardScaler

Ridge_1 = Ridge()
Ridge_1.fit(x_train_scaled, y_train)

y_pred_r_1 = Ridge_1.predict(x_test_scaled)
r2_ridge_standart_scaler = r2_score(y_test, y_pred_r_1)
print('r2_ridge_standart_scaler:', r2_ridge_standart_scaler)

#Lasso StandardScaler

Lasso_1 = Lasso()
Lasso_1.fit(x_train_scaled, y_train)

y_pred_l_1 = Lasso_1.predict(x_test_scaled)
r2_lasso_standart_scaler = r2_score(y_test, y_pred_l_1)
print('r2_lasso_standart_scaler:', r2_lasso_standart_scaler)

#Ridge MinMaxScaler

Ridge_MinMaxScaler = Ridge()
Ridge_MinMaxScaler.fit(x_train_scaled_m, y_train)

y_pred_r_MinMaxScaler = Ridge_MinMaxScaler.predict(x_test_scaled_m)
r2_ridge_min_max_scaler = r2_score(y_test, y_pred_r_MinMaxScaler)
print('r2_ridge_min_max_scaler:', r2_ridge_min_max_scaler)

#Lasso MinMaxScaler

Lasso_MinMaxScaler = Lasso()
Lasso_MinMaxScaler.fit(x_train_scaled_m, y_train)

y_pred_l_MinMaxScaler = Lasso_MinMaxScaler.predict(x_test_scaled_m)
r2_lasso_min_max_scaler = r2_score(y_test, y_pred_l_MinMaxScaler)
print('r2_lasso_min_max_scaler:', r2_lasso_min_max_scaler)



#r2_ridge_standart_scaler = 0
#r2_ridge_min_max_scaler = 0
#r2_lasso_standart_scaler = 0
#r2_lasso_min_max_scaler = 0
results_regression.loc[7] = ['Ridge_StandardScaler', 'task4', r2_ridge_standart_scaler]
results_regression.loc[8] = ['Ridge_MinMaxScaler', 'task4', r2_ridge_min_max_scaler]
results_regression.loc[9] = ['Lasso_StandardScaler', 'task4', r2_lasso_standart_scaler]
results_regression.loc[10] = ['Lasso_MinMaxScaler', 'task4', r2_lasso_min_max_scaler]

r2_ridge_standart_scaler: 0.668190107677443
r2_lasso_standart_scaler: 0.624044752347846
r2_ridge_min_max_scaler: 0.6762207658974594
r2_lasso_min_max_scaler: 0.2573921442545195

5. Подберите коэффициент регуляризации для Ridge и Lasso на масштабированных данных, посчитайте R2 и сравните с предыдущими результатами.

In [25]:
# StandardScaler подготовка данных

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# MinMaxScaler подготовка данных

min_max_scaler = MinMaxScaler()
x_train_scaled_m = min_max_scaler.fit_transform(x_train)
x_test_scaled_m = min_max_scaler.transform(x_test)

In [26]:
# Ridge_StandardScaler_CV

R_SS_CV = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_scaled, y_train)
y_pred_r_ss_cv = R_SS_CV.predict(x_test_scaled)
r2_ridge_standart_scaler_cv = r2_score(y_test, y_pred_r_ss_cv)
print('r2_ridge_standart_scaler_cv:', r2_ridge_standart_scaler_cv)

# Ridge_MinMaxScaler_CV

R_MM_CV = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_scaled_m, y_train)
y_pred_r_mm_cv = R_MM_CV.predict(x_test_scaled_m)
r2_ridge_min_max_scaler_cv = r2_score(y_test, y_pred_r_mm_cv)
print('r2_ridge_min_max_scaler_cv:', r2_ridge_min_max_scaler_cv)

# Lasso_StandardScaler_CV

L_SS_CV = LassoCV(cv=5, random_state=42).fit(x_train_scaled, y_train)
y_pred_l_ss_cv = L_SS_CV.predict(x_test_scaled)
r2_lasso_standart_scaler_cv = r2_score(y_test, y_pred_l_ss_cv)
print('r2_lasso_standart_scaler_cv:', r2_lasso_standart_scaler_cv)

# Lasso_MinMaxScaler_CV

L_MM_CV = LassoCV(cv=5, random_state=42).fit(x_train_scaled_m, y_train)
y_pred_l_mm_cv = L_MM_CV.predict(x_test_scaled_m)
r2_lasso_min_max_scaler_cv = r2_score(y_test, y_pred_l_mm_cv)
print('r2_lasso_min_max_scaler_cv:', r2_lasso_min_max_scaler_cv)


#r2_ridge_standart_scaler_cv = 0
#r2_ridge_min_max_scaler_cv = 0
#r2_lasso_standart_scaler_cv = 0
#r2_lasso_min_max_scaler_cv = 0
results_regression.loc[11] = ['Ridge_StandardScaler_CV', 'task5', r2_ridge_standart_scaler_cv]
results_regression.loc[12] = ['Ridge_MinMaxScaler_CV', 'task5', r2_ridge_min_max_scaler_cv]
results_regression.loc[13] = ['Lasso_StandardScaler_CV', 'task5', r2_lasso_standart_scaler_cv]
results_regression.loc[14] = ['Lasso_MinMaxScaler_CV', 'task5', r2_lasso_min_max_scaler_cv]

r2_ridge_standart_scaler_cv: 0.665730534061705
r2_ridge_min_max_scaler_cv: 0.6697651112857842
r2_lasso_standart_scaler_cv: 0.6681191196718328
r2_lasso_min_max_scaler_cv: 0.6685961770773966

In [27]:
#Сравним результаты расчетов с обычным дата сетом и масштабированным

print('r2_ridge_standart_scaler:', r2_ridge_standart_scaler)
print('r2_ridge_standart_scaler_cv:', r2_ridge_standart_scaler_cv)
print('-------')
print('r2_lasso_standart_scaler:', r2_lasso_standart_scaler)
print('r2_lasso_standart_scaler_cv:', r2_lasso_standart_scaler_cv)
print('-------')
print('r2_ridge_min_max_scaler:', r2_ridge_min_max_scaler)
print('r2_ridge_min_max_scaler_cv:', r2_ridge_min_max_scaler_cv)
print('-------')
print('r2_lasso_min_max_scaler:', r2_lasso_min_max_scaler)
print('r2_lasso_min_max_scaler_cv:', r2_lasso_min_max_scaler_cv)

r2_ridge_standart_scaler: 0.668190107677443
r2_ridge_standart_scaler_cv: 0.665730534061705
-------
r2_lasso_standart_scaler: 0.624044752347846
r2_lasso_standart_scaler_cv: 0.6681191196718328
-------
r2_ridge_min_max_scaler: 0.6762207658974594
r2_ridge_min_max_scaler_cv: 0.6697651112857842
-------
r2_lasso_min_max_scaler: 0.2573921442545195
r2_lasso_min_max_scaler_cv: 0.6685961770773966

6. Добавьте попарные произведения признаков и их квадраты (используйте PolynomialFeatures) на масштабированных признаках, посчитайте R2 для Ridge и Lasso с параметрами по умолчанию и сравните с предыдущими результатами.

In [28]:
from sklearn.preprocessing import PolynomialFeatures

In [29]:
# StandardScaler подготовка данных

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# MinMaxScaler подготовка данных

min_max_scaler = MinMaxScaler()
x_train_scaled_m = min_max_scaler.fit_transform(x_train)
x_test_scaled_m = min_max_scaler.transform(x_test)

In [30]:
# Прогоняем через Polynomial

poly = PolynomialFeatures(2)

x_train_sscaled_poly = poly.fit_transform(x_train_scaled)
x_test_sscaled_poly = poly.fit_transform(x_test_scaled)

x_train_sscaled_m_poly = poly.fit_transform(x_train_scaled_m)
x_test_sscaled_m_poly = poly.fit_transform(x_test_scaled_m)

In [31]:
# r2_ridge_standart_scaler_poly

Ridge_2 = Ridge()
Ridge_2.fit(x_train_sscaled_poly, y_train)

y_pred_r_2 = Ridge_2.predict(x_test_sscaled_poly)
r2_ridge_standart_scaler_poly = r2_score(y_test, y_pred_r_2)
print('r2_ridge_standart_scaler_poly:', r2_ridge_standart_scaler_poly)

# r2_ridge_min_max_scaler_poly

Ridge_MinMaxScaler_2 = Ridge()
Ridge_MinMaxScaler_2.fit(x_train_sscaled_m_poly, y_train)

y_pred_r_MinMaxScaler_2 = Ridge_MinMaxScaler_2.predict(x_test_sscaled_m_poly)
r2_ridge_min_max_scaler_poly = r2_score(y_test, y_pred_r_MinMaxScaler_2)
print('r2_ridge_min_max_scaler_poly:', r2_ridge_min_max_scaler_poly)

# r2_lasso_standart_scaler_poly

Lasso_3 = Lasso()
Lasso_3.fit(x_train_sscaled_poly, y_train)

y_pred_l_3 = Lasso_3.predict(x_test_sscaled_poly)
r2_lasso_standart_scaler_poly = r2_score(y_test, y_pred_l_3)
print('r2_lasso_standart_scaler_poly:', r2_lasso_standart_scaler_poly)

# r2_lasso_min_max_scaler_poly

Lasso_MinMaxScaler_3 = Lasso()
Lasso_MinMaxScaler_3.fit(x_train_sscaled_m_poly, y_train)

y_pred_l_MinMaxScaler_3 = Lasso_MinMaxScaler_3.predict(x_test_sscaled_m_poly)
r2_lasso_min_max_scaler_poly = r2_score(y_test, y_pred_l_MinMaxScaler_3)
print('r2_lasso_min_max_scaler_poly:', r2_lasso_min_max_scaler_poly)


#r2_ridge_standart_scaler_poly = 0
#r2_ridge_min_max_scaler_poly = 0
#r2_lasso_standart_scaler_poly = 0
#r2_lasso_min_max_scaler_poly = 0
results_regression.loc[15] = ['Ridge_StandardScaler_Poly', 'task6', r2_ridge_standart_scaler_poly]
results_regression.loc[16] = ['Ridge_MinMaxScaler_Poly', 'task6', r2_ridge_min_max_scaler_poly]
results_regression.loc[17] = ['Lasso_StandardScaler_Poly', 'task6', r2_lasso_standart_scaler_poly]
results_regression.loc[18] = ['Lasso_MinMaxScaler_Poly', 'task6', r2_lasso_min_max_scaler_poly]

r2_ridge_standart_scaler_poly: 0.8171359789657081
r2_ridge_min_max_scaler_poly: 0.8298862467502746
r2_lasso_standart_scaler_poly: 0.7322738282708989
r2_lasso_min_max_scaler_poly: 0.2611262741735658

7. Подберите коэффициент регуляризации для Ridge и Lasso на масштабированных данных, добавив PolynomialFeatures, посчитайте R2 и сравните с предыдущими результатами.

In [32]:
# Прогоняем через Polynomial

poly = PolynomialFeatures(2)

x_train_sscaled_poly = poly.fit_transform(x_train_scaled)
x_test_sscaled_poly = poly.fit_transform(x_test_scaled)

x_train_sscaled_m_poly = poly.fit_transform(x_train_scaled_m)
x_test_sscaled_m_poly = poly.fit_transform(x_test_scaled_m)

In [33]:
# r2_ridge_standart_scaler_poly_cv

R_SS_CV_poly = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_sscaled_poly, y_train)
y_pred_r_ss_cv_poly = R_SS_CV_poly.predict(x_test_sscaled_poly)
r2_ridge_standart_scaler_poly_cv = r2_score(y_test, y_pred_r_ss_cv_poly)
print('r2_ridge_standart_scaler_poly_cv:', r2_ridge_standart_scaler_poly_cv)

# r2_ridge_min_max_scaler_poly_cv

R_MM_CV_poly = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_sscaled_m_poly, y_train)
y_pred_r_mm_cv_poly = R_MM_CV_poly.predict(x_test_sscaled_m_poly)
r2_ridge_min_max_scaler_poly_cv = r2_score(y_test, y_pred_r_mm_cv_poly)
print('r2_ridge_min_max_scaler_poly_cv:', r2_ridge_min_max_scaler_poly_cv)


# r2_lasso_standart_scaler_poly_cv

L_SS_CV_poly = LassoCV(cv=5, random_state=42).fit(x_train_sscaled_poly, y_train)
y_pred_l_ss_cv_poly = L_SS_CV_poly.predict(x_test_sscaled_poly)
r2_lasso_standart_scaler_poly_cv = r2_score(y_test, y_pred_l_ss_cv_poly)
print('r2_lasso_standart_scaler_poly_cv:', r2_lasso_standart_scaler_poly_cv)


# r2_lasso_min_max_scaler_poly_cv 

L_MM_CV_poly = LassoCV(cv=5, random_state=42).fit(x_train_sscaled_m_poly, y_train)
y_pred_l_mm_cv_poly = L_MM_CV_poly.predict(x_test_sscaled_m_poly)
r2_lasso_min_max_scaler_poly_cv = r2_score(y_test, y_pred_l_mm_cv_poly)
print('r2_lasso_min_max_scaler_poly_cv:', r2_lasso_min_max_scaler_poly_cv)


#r2_ridge_standart_scaler_poly_cv = 0
#r2_ridge_min_max_scaler_poly_cv = 0
#r2_lasso_standart_scaler_poly_cv = 0
#r2_lasso_min_max_scaler_poly_cv = 0
results_regression.loc[19] = ['Ridge_StandardScaler_Poly_CV', 'task7', r2_ridge_standart_scaler_poly_cv]
results_regression.loc[20] = ['Ridge_MinMaxScaler_Poly_CV', 'task7', r2_ridge_min_max_scaler_poly_cv]
results_regression.loc[21] = ['Lasso_StandardScaler_Poly_CV', 'task7', r2_lasso_standart_scaler_poly_cv]
results_regression.loc[22] = ['Lasso_MinMaxScaler_Poly_CV', 'task7', r2_lasso_min_max_scaler_poly_cv]

r2_ridge_standart_scaler_poly_cv: 0.8187344606117991
r2_ridge_min_max_scaler_poly_cv: 0.8501402125961386

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.9812475458757035, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.788628549639725, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.7563854275265385, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.438220472719877, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.3040181758003655, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.2289333667415576, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.0345815283703814, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.065486116046486, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.8364305939003316, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.156197095614516, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.811248983659198, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.375102985050944, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.640072684672077, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.315244008396803, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.356292810022296, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.3746449681193553, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.264697797237204, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.947688635901386, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.9825042343636596, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.312068280735048, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(

r2_lasso_standart_scaler_poly_cv: 0.8180089246649872

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.29191641374473, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.504506988033427, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 10.35810012679849, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11.042489832541378, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 18.04419647776058, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 21.348883122623192, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 21.677874680990044, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 29.83043469981385, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 28.540979646860933, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 54.68271036974147, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 78.34642763242982, tolerance: 2.8821090464396293
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.645370926044052, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.655887011513187, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.065892858440748, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9.773987178074094, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9.846802328359445, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9.639227090604436, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20.567424694019792, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 21.06138366036612, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20.139831733279607, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 24.262916863101054, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 28.8279580160588, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49.18033867658323, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 66.77934776651819, tolerance: 2.764448730650155
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12.305479247958829, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12.75836173080188, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 13.270805037375794, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 13.370090135987084, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 13.676624396727675, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 19.770118393379562, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20.977061862087794, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 24.053394659120386, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 31.211053945344247, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 52.584456345892704, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 80.80821782694875, tolerance: 2.710494922600619
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.7604200617638526, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.446402309415589, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 18.251521316183698, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 18.299965946106113, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12.7092993238075, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11.734811797709881, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8.191209259782227, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5.455730843527363, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8.299999382565147, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12.054334838813247, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11.92305847273019, tolerance: 2.7297569226006195
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4.3609968676350945, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.3455759221233166, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.0418499342149516, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(

r2_lasso_min_max_scaler_poly_cv: 0.8486248580290048

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9.540210230924004, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11.88883024761526, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7.891741849677146, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 9.445598757894004, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8.818572333079828, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 11.455437344478014, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 13.522847600302157, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15.85705756407151, tolerance: 2.947695024691358
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.189e+02, tolerance: 3.510e+00
  model = cd_fast.enet_coordinate_descent(

8. Подберите наилучшую модель (используйте Pipeline, GridSearchCV) подбирая тип регуляризации (L1,L2), коэффициент регуляризации, метод масштабирования и степень полинома в PolynomialFeatures. Выведите итоговые параметры и результат R2.

In [ ]:
# Эту задачу я не понял. Посмотрел вручную с помощью собранного df

In [34]:
results_regression.sort_values(by='R2', ascending = False). head(1)

                         model   task       R2
20  Ridge_MinMaxScaler_Poly_CV  task7  0.85014

## 2ая часть домашнего задания

http://archive.ics.uci.edu/ml/datasets/Adult

In [36]:
data_1 = pd.read_csv('drive/My Drive/Colab Notebooks/adult.csv')
data_1.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

9. Разделите выборку на признаки и целевую переменную(колонка class). Замените целевую переменную на числовые значения ('<=50K' - 1, '>50K' - 0).

In [37]:
data_1.loc[data_1["class"] == "<=50K", "class"] = 1
data_1.loc[data_1["class"] == ">50K", "class"] = 0
data_1.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1

In [39]:
data_1["class"] = pd.to_numeric(data_1["class"])
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  class           48842 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.6+ MB

In [40]:
x_1 = data_1.drop('class',axis=1)
y_1 = data_1['class']

In [41]:
x_1_train, x_1_test, y_1_train, y_1_test = train_test_split(x_1, y_1, test_size=0.2, random_state=42)
x_1_train.shape, x_1_test.shape, y_1_train.shape, y_1_test.shape

((39073, 14), (9769, 14), (39073,), (9769,))

10. Посчитайте метрики accuracy и f1_score на предсказании только самого частого класса в целевой переменной.

In [42]:
data_1.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1

In [43]:
df1 = data_1['class'].value_counts()
df1

1    37155
0    11687
Name: class, dtype: int64

# Ориентировался на комментарии с лекции, если их правильно понял, т.е. смоделировал ситуацию произвел расчет
Всего = 48 842

Смоделируем: 
Класс 1 = 37 155
Класс 0 = 11 687 

Предположим, что класс 1 это все верные ответы, а класс 0 это все не найденные обьекты моделью ответы, 

Если мы считаем только по самому частому классу, то получится: 
f1 мера

precision
 TP = будем считать, что это 36 155 (действительное количество правильных ответов)
 FP = будем считать, что это 2 000 (это значение возьмем от класса 0 и предположим, что модель ошиблась, назвав этот набор 
 данных тоже классом 1)

recall
 FN = будем считать, что это 1 000 (это значение возьмем от класса 1 и предположим, что модель ошиблась, назвав этот набор
 данных классом 0)

In [44]:
acc_most_frequent = 37155/48842
print('acc_most_frequent:', acc_most_frequent)
print('----')
precision = 36155 / (36155+2000)
print('precision:', precision)
print('----')
recall = 36155 / (36155+1000)
print('recall:', recall)
print('----')
f1_most_frequent = 2 * (0.94 * 0.97) / (0.94 + 0.97)
print('f1_most_frequent:', f1_most_frequent)

f1_most_frequent = 0
#acc_most_frequent = 0
results_classification.loc[0] = ['Most Frequent class', 'task10', f1_most_frequent, acc_most_frequent]

acc_most_frequent: 0.7607182343065395
----
precision: 0.9475822303760975
----
recall: 0.973085721975508
----
f1_most_frequent: 0.9547643979057592

11. Выясните, присутствуют ли в данных пропуски. Если присутствуют, заполните их самыми частыми значениями (испольуйте SimpleImputer)

In [45]:
data_1.info()

# Null / NaN значений не вижу

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  class           48842 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.6+ MB

12. Выберите колонки с числовыми и категориальными переменными (используя возможности pandas).

In [46]:
data_1.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1

In [47]:
data_1.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class              int64
dtype: object

age                  74 - числовое 

workclass             9 - категориальное

fnlwgt            28523 - числовое 

education            16 - категориальное

education-num        16 - числовое 

marital-status        7 - категориальное

occupation           15 - категориальное

relationship          6 - категориальное

race                  5 - категориальное

sex                   2 - категориальное

capital-gain        123 - числовое 

capital-loss         99 - числовое 

hours-per-week       96 - числовое 

native-country       42 - категориальное

class                 2 - числовое

13. Создайте пайплайн по обработке числовых и категориальных значений колонок (используйте OneHotEncoder,MinMaxScaler) и посчитайте cross_val_score по алгоритмам LogisticRegression, KNeighborsClassifier, LinearSVC по метрикам accuracy и f1_score.

In [48]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

from sklearn.svm import LinearSVC

In [49]:
categorical_cols = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
            'race', 'sex', 'native-country'] 
numeric_cols = ['age','fnlwgt', 'education','capital-gain', 'capital-loss', 'hours-per-week', 'class']

In [50]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [51]:
data_1[categorical_cols] = data_1[categorical_cols].apply(lambda col:
le.fit_transform(col))    

array_hot_encoded = ohe.fit_transform(data_1[categorical_cols])

data_hot_encoded = pd.DataFrame(array_hot_encoded.todense())

data_numeric_cols = data_1.drop(data_1[categorical_cols], axis = 1)

data_1_ohe = pd.concat([data_hot_encoded, data_numeric_cols], axis=1)

In [52]:
x2 = data_1_ohe.drop('class',axis=1)
y2 = data_1_ohe['class']

In [53]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2, random_state=42)
x2_train.shape, x2_test.shape, y2_train.shape, y2_test.shape

((39073, 108), (9769, 108), (39073,), (9769,))

In [54]:
min_max_scaler = MinMaxScaler()
x2_train_scaled = min_max_scaler.fit_transform(x2_train)
x2_test_scaled = min_max_scaler.transform(x2_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [55]:
# LogisticRegression

LR_1 = LogisticRegression(random_state=0).fit(x2_train_scaled, y2_train)
y2_pred_lr1 = LR_1.predict(x2_test_scaled)

acc_lr =cross_val_score(LR_1, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_LR = acc_lr.mean()
print('acc_LR:' ,acc_LR)
print('----')
f1_lr = cross_val_score(LR_1, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_LR = f1_lr.mean()
f1_LR
print('f1_LR:' ,f1_LR)
print('----')

# KNeighborsClassifier

KN_neigh = KNeighborsClassifier(n_neighbors=2)
KN_neigh.fit(x2_train_scaled, y2_train)
y_pred_KN_neigh = KN_neigh.predict(x2_test_scaled)

acc_KNN_1 = cross_val_score(KN_neigh, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_KNN = acc_KNN_1.mean()
print('acc_KNN:' ,acc_KNN)
print('----')
f1_knn = cross_val_score(KN_neigh, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_KNN = f1_knn.mean()
f1_KNN
print('f1_KNN:' ,f1_KNN)
print('----')

# LinearSVC

L_SVC = LinearSVC(random_state=0, tol=1e-5)
L_SVC.fit(x2_train_scaled, y2_train)
y_pred_SVC = L_SVC.predict(x2_test_scaled)

acc_SVM_1 = cross_val_score(L_SVC, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_SVM = acc_SVM_1.mean()
print('acc_SVM:' ,acc_SVM)
print('----')
f1_SVM_1 = cross_val_score(L_SVC, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_SVM = f1_SVM_1.mean()
f1_SVM
print('f1_SVM:' ,f1_SVM)
print('----')

# f1_LR = 0
# acc_LR = 0
# f1_KNN = 0
# acc_KNN = 0
# f1_SVM = 0
# acc_SVM = 0
results_classification.loc[1] = ['LogisticRegression', 'task13', f1_LR, acc_LR]
results_classification.loc[2] = ['KNeighborsClassifier', 'task13', f1_KNN, acc_KNN]
results_classification.loc[3] = ['LinearSVC', 'task13', f1_SVM, acc_SVM]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

acc_LR: 0.8501266110815054
----

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

f1_LR: 0.9044398340746261
----
acc_KNN: 0.7758041868862406
----
f1_KNN: 0.8423028131617567
----
acc_SVM: 0.8524555994661561
----
f1_SVM: 0.9060887807197108
----

In [56]:
# Посчитал для себя
LR_1_cnf_matrix = metrics.confusion_matrix(y2_test, y2_pred_lr1)
LR_1_cnf_matrix

array([[1362,  993],
       [ 481, 6933]])

In [ ]:
# Истинно положительных предсказаний: TP = 1360
# Истинно отрицательные прогнозы: TN = 6929
# Ложноположительные прогнозы: FP = 485
# Ложноотрицательные прогнозы: FN = 995

14. Можно заметить что в данных присутствуют значения '?', замените их самыми частыми значениями, (испольуйте SimpleImputer). Посчитайте cross_val_score по алгоритмам LogisticRegression, KNeighborsClassifier, LinearSVC по метрикам accuracy и f1_score.

In [57]:
from sklearn.impute import SimpleImputer

In [58]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [59]:
data_1_ohe_imp = data_1.copy()

In [60]:
categorical_cols = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
            'race', 'sex', 'native-country'] 
numeric_cols = ['age','fnlwgt', 'education','capital-gain', 'capital-loss', 'hours-per-week']

In [61]:
# Генерируем Импутер
# Важное уточнение, что Импутер работает только с числовыми значениями. Если это категориальные данные, то их предварительно нужно перевести в цифры

myImputer = SimpleImputer(strategy= 'most_frequent')

In [62]:
# Сделал импут по чиселкам

numeric_cols_imp = myImputer.fit_transform(data_1_ohe_imp[numeric_cols])
numeric_cols_imp

array([[    39,  77516,      9,   2174,      0,     40],
       [    50,  83311,      9,      0,      0,     13],
       [    38, 215646,     11,      0,      0,     40],
       ...,
       [    38, 374983,      9,      0,      0,     50],
       [    44,  83891,      9,   5455,      0,     40],
       [    35, 182148,      9,      0,      0,     60]])

In [63]:
# Переводим полученный результат в дата фрейм
numeric_cols_imp1 = pd.DataFrame(numeric_cols_imp)
numeric_cols_imp1.head(5)

    0       1   2     3  4   5
0  39   77516   9  2174  0  40
1  50   83311   9     0  0  13
2  38  215646  11     0  0  40
3  53  234721   1     0  0  40
4  28  338409   9     0  0  40

In [64]:
# Делаем Label Encoding, OneHotencoding, соединяем результаты в один датафрейм 
data_1_ohe_imp[categorical_cols] = data_1_ohe_imp[categorical_cols].apply(lambda col:
le.fit_transform(col))    

array_hot_encoded_1 = ohe.fit_transform(data_1_ohe_imp[categorical_cols])

data_hot_encoded_1 = pd.DataFrame(array_hot_encoded_1.todense())

data_1_ohe_imp_final = pd.concat([data_hot_encoded_1, numeric_cols_imp1], axis=1)

In [65]:
# Соединяем со столбцом - класс (это наш таргет)
data_1_ohe_imp_final2 = pd.concat([data_1_ohe_imp_final, data_1_ohe_imp['class']], axis=1)
data_1_ohe_imp_final2.head(4)

,0,1,2,3,4,5,6,7,8,9,...,99,100,101,0,1,2,3,4,5,class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,39,77516,9,2174,0,40,1
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,50,83311,9,0,0,13,1
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,38,215646,11,0,0,40,1
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,53,234721,1,0,0,40,1

In [66]:
# Переводим из obj в int , чтобы модель смогла взять в работу
data_1_ohe_imp_final2["class"] = pd.to_numeric(data_1_ohe_imp_final2["class"])

In [67]:
# Проверяем, что в полученном дата фрейм нет "?"
'?' in data_1_ohe_imp_final2

False

In [68]:
# Делим на 2 выборки (обучающая и тестовая)
x3 = data_1_ohe_imp_final2.drop('class',axis=1)
y3 = data_1_ohe_imp_final2['class']

In [69]:
x3_train, x3_test, y3_train, y3_test = train_test_split(x3, y3, test_size=0.2, random_state=42)
x3_train.shape, x3_test.shape, y3_train.shape, y3_test.shape

((39073, 108), (9769, 108), (39073,), (9769,))

In [70]:
# Скейлим значения датафрейма (нормализация)
min_max_scaler = MinMaxScaler()
x3_train_scaled = min_max_scaler.fit_transform(x3_train)
x3_test_scaled = min_max_scaler.transform(x3_test)

In [72]:
# LogisticRegression

LR_imp = LogisticRegression(random_state=0).fit(x3_train_scaled, y3_train)
y3_pred_lr1 = LR_imp.predict(x3_test_scaled)

acc_lr_imp = cross_val_score(LR_imp, x3_train_scaled, y3_train, cv=3, scoring='accuracy')
acc_LR_imp = acc_lr_imp.mean()
print('acc_LR_imp:' ,acc_LR_imp)
print('----')
f1_lr_imp = cross_val_score(LR_imp, x3_train_scaled, y3_train, cv=3, scoring='f1')
f1_LR_imp = f1_lr_imp.mean()
print('f1_LR_imp:' ,f1_LR_imp)
print('----')

# KNeighborsClassifier

KN_neigh_imp = KNeighborsClassifier(n_neighbors=2)
KN_neigh_imp.fit(x3_train_scaled, y3_train)
y_pred_KN_neigh = KN_neigh_imp.predict(x3_test_scaled)

acc_KNN_1_imp = cross_val_score(KN_neigh_imp, x3_train_scaled, y3_train, cv=3, scoring='accuracy')
acc_KNN_imp = acc_KNN_1_imp.mean()
print('acc_KNN_imp:' ,acc_KNN_imp)
print('----')
f1_knn_imp = cross_val_score(KN_neigh_imp, x3_train_scaled, y3_train, cv=3, scoring='f1')
f1_KNN_imp = f1_knn_imp.mean()
print('f1_KNN_imp:' ,f1_KNN_imp)
print('----')

# LinearSVC

L_SVC_imp = LinearSVC(random_state=0, tol=1e-5)
L_SVC_imp.fit(x3_train_scaled, y3_train)
y_pred_SVC = L_SVC_imp.predict(x3_test_scaled)

acc_SVM_1_imp = cross_val_score(L_SVC_imp, x3_train_scaled, y3_train, cv=3, scoring='accuracy')
acc_SVM_imp = acc_SVM_1_imp.mean()
print('acc_SVM_imp:' ,acc_SVM_imp)
print('----')
f1_SVM_1_imp = cross_val_score(L_SVC_imp, x3_train_scaled, y3_train, cv=3, scoring='f1')
f1_SVM_imp = f1_SVM_1_imp.mean()
print('f1_SVM_imp:' ,f1_SVM_imp)
print('----')


results_classification.loc[4] = ['LogisticRegression_impute', 'task14', f1_LR_imp, acc_LR_imp]
results_classification.loc[5] = ['KNeighborsClassifier_impute', 'task14', f1_KNN_imp, acc_KNN_imp]
results_classification.loc[6] = ['LinearSVC_impute', 'task14', f1_SVM_imp, acc_SVM_imp]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

acc_LR_imp: 0.849998646133483
----

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

f1_LR_imp: 0.9043784229574282
----
acc_KNN_imp: 0.7757529875452139
----
f1_KNN_imp: 0.8423062973589673
----
acc_SVM_imp: 0.8524555994661561
----
f1_SVM_imp: 0.9060886617979381
----

15. Посчитайте cross_val_score по тем же алгоритмам и метрикам, если просто удалить значения '?'.

In [73]:
data_2 = data_1.copy()

In [74]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  int64
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  int64
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  int64
 6   occupation      48842 non-null  int64
 7   relationship    48842 non-null  int64
 8   race            48842 non-null  int64
 9   sex             48842 non-null  int64
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  int64
 14  class           48842 non-null  int64
dtypes: int64(15)
memory usage: 5.6 MB

In [75]:
b = data_2[data_2['workclass'].isin(['?'])].index
data_2.drop(b, inplace=True)

In [76]:
a = data_2[data_2['occupation'].isin(['?'])].index
data_2.drop(a, inplace=True)

In [77]:
c = data_2[data_2['native-country'].isin(['?'])].index
data_2.drop(c, inplace=True)

In [78]:
df_clear = data_2
df_clear.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  int64
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  int64
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  int64
 6   occupation      48842 non-null  int64
 7   relationship    48842 non-null  int64
 8   race            48842 non-null  int64
 9   sex             48842 non-null  int64
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  int64
 14  class           48842 non-null  int64
dtypes: int64(15)
memory usage: 7.0 MB

In [79]:
df_clear_final = df_clear.drop(['class'], axis = 1)

In [80]:
df_clear_final.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5

In [81]:
categorical_cols = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
            'race', 'sex', 'native-country'] 
numeric_cols = ['age','fnlwgt', 'education','capital-gain', 'capital-loss', 'hours-per-week']

In [82]:
df_clear_final[categorical_cols].head(1)

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,7,9,4,1,1,4,1,39

In [83]:
df_clear_final[numeric_cols].head(1)

   age  fnlwgt  education  capital-gain  capital-loss  hours-per-week
0   39   77516          9          2174             0              40

In [84]:
df_clear_final[categorical_cols] = df_clear_final[categorical_cols].apply(lambda col:
le.fit_transform(col))  

array_hot_encoded_miss = ohe.fit_transform(df_clear_final[categorical_cols])

data_hot_encoded_miss = pd.DataFrame(array_hot_encoded_miss.todense())

data_numeric_cols_miss = df_clear_final.drop(df_clear_final[categorical_cols], axis = 1)

In [85]:
df_clear_final_1 = pd.concat([data_hot_encoded_miss, data_numeric_cols_miss], axis=1)
df_clear_final_1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,39,77516,13,2174,0,40
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,50,83311,13,0,0,13

In [86]:
df_clear_all = pd.concat([df_clear_final_1, df_clear['class']], axis=1)
df_clear_all.head(2)

,0,1,2,3,4,5,6,7,8,9,...,99,100,101,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,class
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,39,77516,13,2174,0,40,1
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,50,83311,13,0,0,13,1

In [87]:
df_clear_all['class'] = pd.to_numeric(df_clear_all['class'], errors='coerce').fillna(0).astype(int)

In [88]:
df_clear_al = df_clear_all[np.isfinite(df_clear_all).all(1)]

In [89]:
# Делим на 2 выборки (обучающая и тестовая)
x5 = df_clear_al.drop('class',axis=1)
y5 = df_clear_al['class']

In [90]:
x5_train, x5_test, y5_train, y5_test = train_test_split(x5, y5, test_size=0.2, random_state=42)
x5_train.shape, x5_test.shape, y5_train.shape, y5_test.shape

((39073, 108), (9769, 108), (39073,), (9769,))

In [91]:
# Скейлим значения датафрейма (нормализация)
min_max_scaler = MinMaxScaler()
x5_train_scaled = min_max_scaler.fit_transform(x5_train)
x5_test_scaled = min_max_scaler.transform(x5_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [92]:
# LogisticRegression

LR_del_mis = LogisticRegression(random_state=0).fit(x5_train_scaled, y5_train)
y5_pred_lr1 = LR_del_mis.predict(x5_test_scaled)

acc_lr_del_mis = cross_val_score(LR_del_mis, x5_train_scaled, y5_train, cv=3, scoring='accuracy')
acc_LR_del_missings = acc_lr_del_mis.mean()
print('acc_LR_del_missings:' ,acc_LR_del_missings)
print('----')
f1_lr_del_mis = cross_val_score(LR_del_mis, x5_train_scaled, y5_train, cv=3, scoring='f1')
f1_LR_del_missings = f1_lr_del_mis.mean()
print('f1_LR_del_missings:' ,f1_LR_del_missings)
print('----')

# KNeighborsClassifier

KN_neigh_del_mis = KNeighborsClassifier(n_neighbors=2)
KN_neigh_del_mis.fit(x5_train_scaled, y5_train)
y_pred_KN_neigh_del_mis = KN_neigh_del_mis.predict(x5_test_scaled)

acc_KNN_del_mis = cross_val_score(KN_neigh_del_mis, x5_train_scaled, y5_train, cv=3, scoring='accuracy')
acc_KNN_del_missings = acc_KNN_del_mis.mean()
print('acc_KNN_del_missings:' ,acc_KNN_del_missings)
print('----')
f1_knn_del_mis = cross_val_score(KN_neigh_del_mis, x5_train_scaled, y5_train, cv=3, scoring='f1')
f1_KNN_del_missings = f1_knn_del_mis.mean()
print('f1_KNN_del_missings:' ,f1_KNN_del_missings)
print('----')

# LinearSVC

L_SVC_del_mis = LinearSVC(random_state=0, tol=1e-5)
L_SVC_del_mis.fit(x5_train_scaled, y5_train)
y_pred_SVC_del_mis = L_SVC_del_mis.predict(x5_test_scaled)

acc_SVM_1_del_mis = cross_val_score(L_SVC_del_mis, x5_train_scaled, y5_train, cv=3, scoring='accuracy')
acc_SVM_del_missings = acc_SVM_1_del_mis.mean()
print('acc_SVM_del_missings:' ,acc_SVM_del_missings)
print('----')
f1_SVM_1_del_mis = cross_val_score(L_SVC_del_mis, x5_train_scaled, y5_train, cv=3, scoring='f1')
f1_SVM_del_missings = f1_SVM_1_del_mis.mean()
print('f1_SVM_del_missings:' ,f1_SVM_del_missings)
print('----')


#f1_LR_del_missings = 0
#acc_LR_del_missings = 0
#f1_KNN_del_missings = 0
#acc_KNN_del_missings = 0
#f1_SVM_del_missings = 0
#acc_SVM_del_missings = 0
results_classification.loc[7] = ['LogisticRegression_delete_missings', 'task15', f1_LR_del_missings, acc_LR_del_missings]
results_classification.loc[8] = ['KNeighborsClassifier_delete_missings', 'task15', f1_KNN_del_missings, acc_KNN_del_missings]
results_classification.loc[9] = ['LinearSVC_delete_missings', 'task15', f1_SVM_del_missings, acc_SVM_del_missings]

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

acc_LR_del_missings: 0.8501266110815054
----

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

f1_LR_del_missings: 0.9044398340746261
----
acc_KNN_del_missings: 0.7758041868862406
----
f1_KNN_del_missings: 0.8423028131617567
----
acc_SVM_del_missings: 0.8524555994661561
----
f1_SVM_del_missings: 0.9060887807197108
----

16. Посчитайте cross_val_score для RandomForestClassifier,GradientBoostingClassifier на данных с замененными значениями '?' на самые частые значения.

In [93]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [94]:
# RandomForestClassifier

RF_imp = RandomForestClassifier(max_depth=2, random_state=0).fit(x3_train_scaled, y3_train)
y3_pred_fr_imp = RF_imp.predict(x3_test_scaled)

acc_RF_imp = cross_val_score(RF_imp, x3_train_scaled, y3_train, cv=3, scoring='accuracy')
acc_RF = acc_RF_imp.mean()
print('acc_RF:' ,acc_RF)
print('----')
f1_RF_imp = cross_val_score(RF_imp, x3_train_scaled, y3_train, cv=3, scoring='f1')
f1_RF = f1_RF_imp.mean()
print('f1_RF:' ,f1_RF)
print('----')

# GradientBoostingClassifier

GB_imp = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(x3_train_scaled, y3_train)
y3_pred_gb_imp = GB_imp.predict(x3_test_scaled)

acc_GB_imp = cross_val_score(GB_imp, x3_train_scaled, y3_train, cv=3, scoring='accuracy')
acc_GB = acc_GB_imp.mean()
print('acc_GB:' ,acc_GB)
print('----')
f1_GB_imp = cross_val_score(GB_imp, x3_train_scaled, y3_train, cv=3, scoring='f1')
f1_GB = f1_GB_imp.mean()
print('f1_GB:' ,f1_GB)
print('----')

acc_RF: 0.7648760239475211
----
f1_RF: 0.866213456756674
----
acc_GB: 0.8617715569347048
----
f1_GB: 0.9120732781513778
----

In [96]:
results_classification.loc[10] = ['RandomForestClassifier', 'task16', f1_RF, acc_RF]
results_classification.loc[11] = ['GradientBoostingClassifier', 'task16', f1_GB, acc_GB]

17. Подберите наилучшую модель, подбирая методы обработки колонок - масштабирование признаков, кодирование признаков и заполнение пропусков. Параметры алгоритмов оставьте по умолчанию. Выведите итоговые параметры и результат accuracy и f1_score.

In [ ]:
# Это задание не понял

## Подведение итогов

In [97]:
results_classification

                                   model    task        f1  accuracy
0                    Most Frequent class  task10         0  0.760718
1                     LogisticRegression  task13   0.90444  0.850127
2                   KNeighborsClassifier  task13  0.842303  0.775804
3                              LinearSVC  task13  0.906089  0.852456
4              LogisticRegression_impute  task14  0.904378  0.849999
5            KNeighborsClassifier_impute  task14  0.842306  0.775753
6                       LinearSVC_impute  task14  0.906089  0.852456
7     LogisticRegression_delete_missings  task15   0.90444  0.850127
8   KNeighborsClassifier_delete_missings  task15  0.842303  0.775804
9              LinearSVC_delete_missings  task15  0.906089  0.852456
10                RandomForestClassifier  task16  0.866213  0.764876
11            GradientBoostingClassifier  task16  0.912073  0.861772

In [98]:
results_classification.sort_values(by='f1', ascending = False). head(5)

                         model    task        f1  accuracy
11  GradientBoostingClassifier  task16  0.912073  0.861772
3                    LinearSVC  task13  0.906089  0.852456
9    LinearSVC_delete_missings  task15  0.906089  0.852456
6             LinearSVC_impute  task14  0.906089  0.852456
1           LogisticRegression  task13   0.90444  0.850127

In [99]:
results_classification.sort_values(by='accuracy', ascending = False). head(5)

                         model    task        f1  accuracy
11  GradientBoostingClassifier  task16  0.912073  0.861772
3                    LinearSVC  task13  0.906089  0.852456
6             LinearSVC_impute  task14  0.906089  0.852456
9    LinearSVC_delete_missings  task15  0.906089  0.852456
1           LogisticRegression  task13   0.90444  0.850127