In [1]:
import pandas as pd
import numpy as np

In [2]:
# импортированные библиотеки

from sklearn.model_selection import train_test_split

In [105]:
RANDOM_STATE = 42

results_regression = pd.DataFrame(columns = ['model', 'task', 'R2'])
results_classification = pd.DataFrame(columns = ['model', 'task', 'f1', 'accuracy'])

https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

In [ ]:
data = pd.read_csv('boston.csv')
data.head()

1. Разделите выборку на обучающую и тестовую в отношении 80%/20%, предварительно выделив целевую переменную (колонка 'MEDV').

In [ ]:
x = data.drop('MEDV',axis=1)
y = data['MEDV']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

2. Обучите стандартную регрессию, а также Ridge и  Lasso с параметрами по умолчанию и выведите их R2 на тестовой выборке

In [ ]:
#импортнуть библиотеки 

from sklearn.linear_model import LinearRegression,Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
%%time
#линейная регрессия
LR = LinearRegression()
LR.fit(x_train, y_train)

y_pred = LR.predict(x_test)
r2_lr = r2_score(y_test, y_pred)

#Ridge

Ridge = Ridge()
Ridge.fit(x_train, y_train)

y_pred_r = Ridge.predict(x_test)
r2_ridge = r2_score(y_test, y_pred_r)

#Lasso

Lasso = Lasso()
Lasso.fit(x_train, y_train)

y_pred_l = Lasso.predict(x_test)
r2_lasso = r2_score(y_test, y_pred_l)

print('r2_lr:', r2_lr)
print('r2_ridge:', r2_ridge)
print('r2_lasso:', r2_lasso)


#r2_lr = 0
#r2_ridge = 0
#r2_lasso = 0
results_regression.loc[0] = ['LR', 'task2', r2_lr]
results_regression.loc[1] = ['Ridge', 'task2', r2_ridge]
results_regression.loc[2] = ['Lasso', 'task2', r2_lasso]

3. Для Ridge и Lasso подберите коэффициент регуляризации двумя способами 1) GridSearchCV, 2) RidgeCV и LassoCV, в пределах от $10^{-5}$ до $10^5$ (по степеням 10). Посчитайте R2 на тестовой выборке по всем моделям и сравните с предыдущими результатами.

In [ ]:
# Импортировал библиотеки

from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV

In [ ]:
# создал массив данных с параметрами для исследовани
parametrs = { 'alpha': np.array([10 ** n for n in range(-5, 6)])}
parametrs

In [ ]:
np.array([10 ** n for n in range(-5, 6)]).shape

In [ ]:
[10 ** n for n in range(-5, 6)]

In [ ]:
#Ridge_GridSearchCV

GS_LR = GridSearchCV(Ridge, parametrs, cv=5)
GS_LR.fit(x_train, y_train)
y_pred_gs_rl = GS_LR.predict(x_test)
r2_ridge_grid_search = r2_score(y_test, y_pred_gs_rl)
print('r2_ridge_grid_search:', r2_ridge_grid_search)

#Lasso_GridSearchCV

GS_L = GridSearchCV(Lasso, parametrs, cv=5)
GS_L.fit(x_train, y_train)
y_pred_gs_l = GS_L.predict(x_test)
r2_lasso_grid_search = r2_score(y_test, y_pred_gs_l)
print('r2_lasso_grid_search:', r2_lasso_grid_search)

#RidgeCV

RCV = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x, y)
y_pred_rcv = RCV.predict(x_test)
r2_ridge_cv = r2_score(y_test, y_pred_rcv)
print('r2_ridge_cv:', r2_ridge_cv)

#LassoCV

LCV = LassoCV(cv=5, random_state=42).fit(x, y)
y_pred_lcv = LCV.predict(x_test)
r2_lasso_cv = r2_score(y_test, y_pred_lcv)
print('r2_lasso_cv:', r2_lasso_cv)


#r2_ridge_grid_search = 0
#r2_ridge_cv = 0
#r2_lasso_grid_search = 0
#r2_lasso_cv = 0
results_regression.loc[3] = ['Ridge_GridSearchCV', 'task3', r2_ridge_grid_search]
results_regression.loc[4] = ['RidgeCV', 'task3', r2_ridge_cv]
results_regression.loc[5] = ['Lasso_GridSearchCV', 'task3', r2_lasso_grid_search]
results_regression.loc[6] = ['LassoCV', 'task3', r2_lasso_cv]

In [ ]:
# заметка для меня на будущее - узнать лучшие параметры через gridsearch
GS_LR.best_params_

4. Проведите масштабирование выборки (используйте Pipeline, StandardScaler, MinMaxScaler), посчитайте R2 для Ridge и Lasso с параметрами по умолчанию и сравните с предыдущими результатами.

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# StandardScaler

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
# MinMaxScaler

min_max_scaler = MinMaxScaler()
x_train_scaled_m = min_max_scaler.fit_transform(x_train)
x_test_scaled_m = min_max_scaler.transform(x_test)

In [ ]:
#Ridge StandardScaler

Ridge_1 = Ridge()
Ridge_1.fit(x_train_scaled, y_train)

y_pred_r_1 = Ridge_1.predict(x_test_scaled)
r2_ridge_standart_scaler = r2_score(y_test, y_pred_r_1)
print('r2_ridge_standart_scaler:', r2_ridge_standart_scaler)

#Lasso StandardScaler

Lasso_1 = Lasso()
Lasso_1.fit(x_train_scaled, y_train)

y_pred_l_1 = Lasso_1.predict(x_test_scaled)
r2_lasso_standart_scaler = r2_score(y_test, y_pred_l_1)
print('r2_lasso_standart_scaler:', r2_lasso_standart_scaler)

#Ridge MinMaxScaler

Ridge_MinMaxScaler = Ridge()
Ridge_MinMaxScaler.fit(x_train_scaled_m, y_train)

y_pred_r_MinMaxScaler = Ridge_MinMaxScaler.predict(x_test_scaled_m)
r2_ridge_min_max_scaler = r2_score(y_test, y_pred_r_MinMaxScaler)
print('r2_ridge_min_max_scaler:', r2_ridge_min_max_scaler)

#Lasso MinMaxScaler

Lasso_MinMaxScaler = Lasso()
Lasso_MinMaxScaler.fit(x_train_scaled_m, y_train)

y_pred_l_MinMaxScaler = Lasso_MinMaxScaler.predict(x_test_scaled_m)
r2_lasso_min_max_scaler = r2_score(y_test, y_pred_l_MinMaxScaler)
print('r2_lasso_min_max_scaler:', r2_lasso_min_max_scaler)



#r2_ridge_standart_scaler = 0
#r2_ridge_min_max_scaler = 0
#r2_lasso_standart_scaler = 0
#r2_lasso_min_max_scaler = 0
results_regression.loc[7] = ['Ridge_StandardScaler', 'task4', r2_ridge_standart_scaler]
results_regression.loc[8] = ['Ridge_MinMaxScaler', 'task4', r2_ridge_min_max_scaler]
results_regression.loc[9] = ['Lasso_StandardScaler', 'task4', r2_lasso_standart_scaler]
results_regression.loc[10] = ['Lasso_MinMaxScaler', 'task4', r2_lasso_min_max_scaler]

5. Подберите коэффициент регуляризации для Ridge и Lasso на масштабированных данных, посчитайте R2 и сравните с предыдущими результатами.

In [ ]:
# StandardScaler подготовка данных

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# MinMaxScaler подготовка данных

min_max_scaler = MinMaxScaler()
x_train_scaled_m = min_max_scaler.fit_transform(x_train)
x_test_scaled_m = min_max_scaler.transform(x_test)

In [ ]:
# Ridge_StandardScaler_CV

R_SS_CV = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_scaled, y_train)
y_pred_r_ss_cv = R_SS_CV.predict(x_test_scaled)
r2_ridge_standart_scaler_cv = r2_score(y_test, y_pred_r_ss_cv)
print('r2_ridge_standart_scaler_cv:', r2_ridge_standart_scaler_cv)

# Ridge_MinMaxScaler_CV

R_MM_CV = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_scaled_m, y_train)
y_pred_r_mm_cv = R_MM_CV.predict(x_test_scaled_m)
r2_ridge_min_max_scaler_cv = r2_score(y_test, y_pred_r_mm_cv)
print('r2_ridge_min_max_scaler_cv:', r2_ridge_min_max_scaler_cv)

# Lasso_StandardScaler_CV

L_SS_CV = LassoCV(cv=5, random_state=42).fit(x_train_scaled, y_train)
y_pred_l_ss_cv = L_SS_CV.predict(x_test_scaled)
r2_lasso_standart_scaler_cv = r2_score(y_test, y_pred_l_ss_cv)
print('r2_lasso_standart_scaler_cv:', r2_lasso_standart_scaler_cv)

# Lasso_MinMaxScaler_CV

L_MM_CV = LassoCV(cv=5, random_state=42).fit(x_train_scaled_m, y_train)
y_pred_l_mm_cv = L_MM_CV.predict(x_test_scaled_m)
r2_lasso_min_max_scaler_cv = r2_score(y_test, y_pred_l_mm_cv)
print('r2_lasso_min_max_scaler_cv:', r2_lasso_min_max_scaler_cv)


#r2_ridge_standart_scaler_cv = 0
#r2_ridge_min_max_scaler_cv = 0
#r2_lasso_standart_scaler_cv = 0
#r2_lasso_min_max_scaler_cv = 0
results_regression.loc[11] = ['Ridge_StandardScaler_CV', 'task5', r2_ridge_standart_scaler_cv]
results_regression.loc[12] = ['Ridge_MinMaxScaler_CV', 'task5', r2_ridge_min_max_scaler_cv]
results_regression.loc[13] = ['Lasso_StandardScaler_CV', 'task5', r2_lasso_standart_scaler_cv]
results_regression.loc[14] = ['Lasso_MinMaxScaler_CV', 'task5', r2_lasso_min_max_scaler_cv]

In [ ]:
#Сравним результаты расчетов с обычным дата сетом и масштабированным

print('r2_ridge_standart_scaler:', r2_ridge_standart_scaler)
print('r2_ridge_standart_scaler_cv:', r2_ridge_standart_scaler_cv)
print('-------')
print('r2_lasso_standart_scaler:', r2_lasso_standart_scaler)
print('r2_lasso_standart_scaler_cv:', r2_lasso_standart_scaler_cv)
print('-------')
print('r2_ridge_min_max_scaler:', r2_ridge_min_max_scaler)
print('r2_ridge_min_max_scaler_cv:', r2_ridge_min_max_scaler_cv)
print('-------')
print('r2_lasso_min_max_scaler:', r2_lasso_min_max_scaler)
print('r2_lasso_min_max_scaler_cv:', r2_lasso_min_max_scaler_cv)

6. Добавьте попарные произведения признаков и их квадраты (используйте PolynomialFeatures) на масштабированных признаках, посчитайте R2 для Ridge и Lasso с параметрами по умолчанию и сравните с предыдущими результатами.

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
# StandardScaler подготовка данных

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# MinMaxScaler подготовка данных

min_max_scaler = MinMaxScaler()
x_train_scaled_m = min_max_scaler.fit_transform(x_train)
x_test_scaled_m = min_max_scaler.transform(x_test)

In [ ]:
# Прогоняем через Polynomial

poly = PolynomialFeatures(2)

x_train_sscaled_poly = poly.fit_transform(x_train_scaled)
x_test_sscaled_poly = poly.fit_transform(x_test_scaled)

x_train_sscaled_m_poly = poly.fit_transform(x_train_scaled_m)
x_test_sscaled_m_poly = poly.fit_transform(x_test_scaled_m)

In [ ]:
# r2_ridge_standart_scaler_poly

Ridge_2 = Ridge()
Ridge_2.fit(x_train_sscaled_poly, y_train)

y_pred_r_2 = Ridge_2.predict(x_test_sscaled_poly)
r2_ridge_standart_scaler_poly = r2_score(y_test, y_pred_r_2)
print('r2_ridge_standart_scaler_poly:', r2_ridge_standart_scaler_poly)

# r2_ridge_min_max_scaler_poly

Ridge_MinMaxScaler_2 = Ridge()
Ridge_MinMaxScaler_2.fit(x_train_sscaled_m_poly, y_train)

y_pred_r_MinMaxScaler_2 = Ridge_MinMaxScaler_2.predict(x_test_sscaled_m_poly)
r2_ridge_min_max_scaler_poly = r2_score(y_test, y_pred_r_MinMaxScaler_2)
print('r2_ridge_min_max_scaler_poly:', r2_ridge_min_max_scaler_poly)

# r2_lasso_standart_scaler_poly

Lasso_3 = Lasso()
Lasso_3.fit(x_train_sscaled_poly, y_train)

y_pred_l_3 = Lasso_3.predict(x_test_sscaled_poly)
r2_lasso_standart_scaler_poly = r2_score(y_test, y_pred_l_3)
print('r2_lasso_standart_scaler_poly:', r2_lasso_standart_scaler_poly)

# r2_lasso_min_max_scaler_poly

Lasso_MinMaxScaler_3 = Lasso()
Lasso_MinMaxScaler_3.fit(x_train_sscaled_m_poly, y_train)

y_pred_l_MinMaxScaler_3 = Lasso_MinMaxScaler_3.predict(x_test_sscaled_m_poly)
r2_lasso_min_max_scaler_poly = r2_score(y_test, y_pred_l_MinMaxScaler_3)
print('r2_lasso_min_max_scaler_poly:', r2_lasso_min_max_scaler_poly)


#r2_ridge_standart_scaler_poly = 0
#r2_ridge_min_max_scaler_poly = 0
#r2_lasso_standart_scaler_poly = 0
#r2_lasso_min_max_scaler_poly = 0
results_regression.loc[15] = ['Ridge_StandardScaler_Poly', 'task6', r2_ridge_standart_scaler_poly]
results_regression.loc[16] = ['Ridge_MinMaxScaler_Poly', 'task6', r2_ridge_min_max_scaler_poly]
results_regression.loc[17] = ['Lasso_StandardScaler_Poly', 'task6', r2_lasso_standart_scaler_poly]
results_regression.loc[18] = ['Lasso_MinMaxScaler_Poly', 'task6', r2_lasso_min_max_scaler_poly]

7. Подберите коэффициент регуляризации для Ridge и Lasso на масштабированных данных, добавив PolynomialFeatures, посчитайте R2 и сравните с предыдущими результатами.

In [ ]:
# Прогоняем через Polynomial

poly = PolynomialFeatures(2)

x_train_sscaled_poly = poly.fit_transform(x_train_scaled)
x_test_sscaled_poly = poly.fit_transform(x_test_scaled)

x_train_sscaled_m_poly = poly.fit_transform(x_train_scaled_m)
x_test_sscaled_m_poly = poly.fit_transform(x_test_scaled_m)

In [ ]:
# r2_ridge_standart_scaler_poly_cv

R_SS_CV_poly = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_sscaled_poly, y_train)
y_pred_r_ss_cv_poly = R_SS_CV_poly.predict(x_test_sscaled_poly)
r2_ridge_standart_scaler_poly_cv = r2_score(y_test, y_pred_r_ss_cv_poly)
print('r2_ridge_standart_scaler_poly_cv:', r2_ridge_standart_scaler_poly_cv)

# r2_ridge_min_max_scaler_poly_cv

R_MM_CV_poly = RidgeCV(alphas = [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000]).fit(x_train_sscaled_m_poly, y_train)
y_pred_r_mm_cv_poly = R_MM_CV_poly.predict(x_test_sscaled_m_poly)
r2_ridge_min_max_scaler_poly_cv = r2_score(y_test, y_pred_r_mm_cv_poly)
print('r2_ridge_min_max_scaler_poly_cv:', r2_ridge_min_max_scaler_poly_cv)


# r2_lasso_standart_scaler_poly_cv

L_SS_CV_poly = LassoCV(cv=5, random_state=42).fit(x_train_sscaled_poly, y_train)
y_pred_l_ss_cv_poly = L_SS_CV_poly.predict(x_test_sscaled_poly)
r2_lasso_standart_scaler_poly_cv = r2_score(y_test, y_pred_l_ss_cv_poly)
print('r2_lasso_standart_scaler_poly_cv:', r2_lasso_standart_scaler_poly_cv)


# r2_lasso_min_max_scaler_poly_cv 

L_MM_CV_poly = LassoCV(cv=5, random_state=42).fit(x_train_sscaled_m_poly, y_train)
y_pred_l_mm_cv_poly = L_MM_CV_poly.predict(x_test_sscaled_m_poly)
r2_lasso_min_max_scaler_poly_cv = r2_score(y_test, y_pred_l_mm_cv_poly)
print('r2_lasso_min_max_scaler_poly_cv:', r2_lasso_min_max_scaler_poly_cv)


#r2_ridge_standart_scaler_poly_cv = 0
#r2_ridge_min_max_scaler_poly_cv = 0
#r2_lasso_standart_scaler_poly_cv = 0
#r2_lasso_min_max_scaler_poly_cv = 0
results_regression.loc[19] = ['Ridge_StandardScaler_Poly_CV', 'task7', r2_ridge_standart_scaler_poly_cv]
results_regression.loc[20] = ['Ridge_MinMaxScaler_Poly_CV', 'task7', r2_ridge_min_max_scaler_poly_cv]
results_regression.loc[21] = ['Lasso_StandardScaler_Poly_CV', 'task7', r2_lasso_standart_scaler_poly_cv]
results_regression.loc[22] = ['Lasso_MinMaxScaler_Poly_CV', 'task7', r2_lasso_min_max_scaler_poly_cv]

8. Подберите наилучшую модель (используйте Pipeline, GridSearchCV) подбирая тип регуляризации (L1,L2), коэффициент регуляризации, метод масштабирования и степень полинома в PolynomialFeatures. Выведите итоговые параметры и результат R2.

In [ ]:
#Ridge_MinMaxScaler_Poly_CV

In [ ]:
parametrs = {
    "alphas": [1e-05, 0.0001, 0.001, 0.01, 0.1, 1, 10, 100, 1000, 10000, 100000],
    #"max_iter": [1, 5, 20, 100, 1000],
    #"polynomial": [1, 2, 3],
    #"solver": ['auto', "svd", 'cholesky', 'lsqr', "sparse_cg", "sag", 'saga', "lbfgs"],
}

In [ ]:
R_MM_CV_poly_best = GridSearchCV(R_MM_CV_poly, parametrs, cv=3)
R_MM_CV_poly_best.fit(x_train, y_train)
y_pred_b_rl = Ridge_MinMaxScaler_Poly_CV_best.predict(x_test)
r2_best_model = r2_score(y_test, y_pred_b_rl)
print('r2_best_model:', r2_best_model)

In [ ]:
# r2_best_model


### Ваш код ###

best_params = {}
print('Параметры лучшей модели:\n', best_params)
r2_best_model = 0
results_regression.loc[23] = ['Best_Model', 'task8', r2_best_model]

In [ ]:
results_regression.sort_values(by='R2', ascending = False). head(1)

http://archive.ics.uci.edu/ml/datasets/Adult

In [3]:
data_1 = pd.read_csv('adult.csv')
data_1.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

9. Разделите выборку на признаки и целевую переменную(колонка class). Замените целевую переменную на числовые значения ('<=50K' - 1, '>50K' - 0).

In [4]:
data_1.loc[data_1["class"] == "<=50K", "class"] = 1
data_1.loc[data_1["class"] == ">50K", "class"] = 0
data_1.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1

In [5]:
data_1["class"] = pd.to_numeric(data_1["class"])

In [6]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age               48842 non-null int64
workclass         48842 non-null object
fnlwgt            48842 non-null int64
education         48842 non-null object
education-num     48842 non-null int64
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null int64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    48842 non-null object
class             48842 non-null int64
dtypes: int64(7), object(8)
memory usage: 5.6+ MB

In [7]:
x_1 = data_1.drop('class',axis=1)
y_1 = data_1['class']

In [8]:
x_1_train, x_1_test, y_1_train, y_1_test = train_test_split(x_1, y_1, test_size=0.2, random_state=42)
x_1_train.shape, x_1_test.shape, y_1_train.shape, y_1_test.shape

((39073, 14), (9769, 14), (39073,), (9769,))

10. Посчитайте метрики accuracy и f1_score на предсказании только самого частого класса в целевой переменной.

In [9]:
data_1.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1

In [10]:
df1 = data_1['class'].value_counts()
df1

1    37155
0    11687
Name: class, dtype: int64

In [ ]:
# Всего = 48 842

# Смоделируем: 

# Класс 1 = 37 155
# Класс 0 = 11 687 

# Предположим, что класс 1 это все верные ответы, а класс 0 это все не найденные обьекты моделью ответы, 

# Если мы считаем только по самому частому классу, то получится:

In [ ]:
# f1 мера

# precision
  # TP = будем считать, что это 36 155 (действительное количество правильных ответов)
  # FP = будем считать, что это 2 000 (это значение возьмем от класса 0 и предположим, что модель ошиблась, назвав этот набор 
  # данных тоже классом 1)

# recall
  # FN = будем считать, что это 1 000 (это значение возьмем от класса 1 и предположим, что модель ошиблась, назвав этот набор
  # данных классом 0)

In [11]:
acc_most_frequent = 37155/48842
print('acc_most_frequent:', acc_most_frequent)
print('----')
precision = 36155 / (36155+2000)
print('precision:', precision)
print('----')
recall = 36155 / (36155+1000)
print('recall:', recall)
print('----')
f1_most_frequent = 2 * (0.94 * 0.97) / (0.94 + 0.97)
print('f1_most_frequent:', f1_most_frequent)

f1_most_frequent = 0
#acc_most_frequent = 0
results_classification.loc[0] = ['Most Frequent class', 'task10', f1_most_frequent, acc_most_frequent]

acc_most_frequent: 0.7607182343065395
----
precision: 0.9475822303760975
----
recall: 0.973085721975508
----
f1_most_frequent: 0.9547643979057592

NameError: name 'results_classification' is not defined

11. Выясните, присутствуют ли в данных пропуски. Если присутствуют, заполните их самыми частыми значениями (испольуйте SimpleImputer)

In [12]:
data_1.info()

# Null / NaN значений не вижу

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age               48842 non-null int64
workclass         48842 non-null object
fnlwgt            48842 non-null int64
education         48842 non-null object
education-num     48842 non-null int64
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null int64
capital-loss      48842 non-null int64
hours-per-week    48842 non-null int64
native-country    48842 non-null object
class             48842 non-null int64
dtypes: int64(7), object(8)
memory usage: 5.6+ MB

12. Выберите колонки с числовыми и категориальными переменными (используя возможности pandas).

In [13]:
data_1.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1

In [14]:
data_1.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class              int64
dtype: object

In [ ]:
# age                  74 - числовое 
# workclass             9 - категориальное
# fnlwgt            28523 - числовое 
# education            16 - категориальное
# education-num        16 - числовое 
# marital-status        7 - категориальное
# occupation           15 - категориальное
# relationship          6 - категориальное
# race                  5 - категориальное
# sex                   2 - категориальное
# capital-gain        123 - числовое 
# capital-loss         99 - числовое 
# hours-per-week       96 - числовое 
# native-country       42 - категориальное
# class                 2 - числовое

13. Создайте пайплайн по обработке числовых и категориальных значений колонок (используйте OneHotEncoder,MinMaxScaler) и посчитайте cross_val_score по алгоритмам LogisticRegression, KNeighborsClassifier, LinearSVC по метрикам accuracy и f1_score.

In [90]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier

from sklearn.svm import LinearSVC

In [16]:
categorical_cols = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
            'race', 'sex', 'native-country'] 
numeric_cols = ['age','fnlwgt', 'education','capital-gain', 'capital-loss', 'hours-per-week', 'class']

In [19]:
le = LabelEncoder()
ohe = OneHotEncoder()

In [47]:
data_1[categorical_cols] = data_1[categorical_cols].apply(lambda col:
le.fit_transform(col))    

array_hot_encoded = ohe.fit_transform(data_1[categorical_cols])

data_hot_encoded = pd.DataFrame(array_hot_encoded.todense())

data_numeric_cols = data_1.drop(data_1[categorical_cols], axis = 1)

data_1_ohe = pd.concat([data_hot_encoded, data_numeric_cols], axis=1)

In [50]:
x2 = data_1_ohe.drop('class',axis=1)
y2 = data_1_ohe['class']

In [51]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2, random_state=42)
x2_train.shape, x2_test.shape, y2_train.shape, y2_test.shape

((39073, 108), (9769, 108), (39073,), (9769,))

In [55]:
min_max_scaler = MinMaxScaler()
x2_train_scaled = min_max_scaler.fit_transform(x2_train)
x2_test_scaled = min_max_scaler.transform(x2_test)

In [ ]:
# Предобработку окончил, перехожу к построению моделей

In [70]:
# LogisticRegression

LR_1 = LogisticRegression(random_state=0).fit(x2_train_scaled, y2_train)
y2_pred_lr1 = LR_1.predict(x2_test_scaled)

In [86]:
acc_lr =cross_val_score(LR_1, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_LR = acc_lr.mean()
print('acc_LR:' ,acc_LR)
print('----')
f1_lr = cross_val_score(LR_1, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_LR = f1_lr.mean()
f1_LR
print('f1_LR:' ,f1_LR)

acc_LR: 0.850075470098
----
f1_LR: 0.904425656742

In [88]:
# KNeighborsClassifier

KN_neigh = KNeighborsClassifier(n_neighbors=2)
KN_neigh.fit(x2_train_scaled, y2_train)
y_pred_KN_neigh = KN_neigh.predict(x2_test_scaled)

In [89]:
acc_KNN_1 = cross_val_score(KN_neigh, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_KNN = acc_KNN_1.mean()
print('acc_KNN:' ,acc_KNN)
print('----')
f1_knn = cross_val_score(KN_neigh, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_KNN = f1_knn.mean()
f1_KNN
print('f1_KNN:' ,f1_KNN)

acc_KNN: 0.77580412115
----
f1_KNN: 0.842302813162

In [91]:
# LinearSVC

L_SVC = LinearSVC(random_state=0, tol=1e-5)
L_SVC.fit(x2_train_scaled, y2_train)
y_pred_SVC = L_SVC.predict(x2_test_scaled)

In [92]:
acc_SVM_1 = cross_val_score(L_SVC, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_SVM = acc_SVM_1.mean()
print('acc_SVM:' ,acc_SVM)
print('----')
f1_SVM_1 = cross_val_score(L_SVC, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_SVM = f1_SVM_1.mean()
f1_SVM
print('f1_SVM:' ,f1_SVM)

acc_SVM: 0.852455685347
----
f1_SVM: 0.906085615608

In [106]:
# LogisticRegression

LR_1 = LogisticRegression(random_state=0).fit(x2_train_scaled, y2_train)
y2_pred_lr1 = LR_1.predict(x2_test_scaled)

acc_lr =cross_val_score(LR_1, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_LR = acc_lr.mean()
print('acc_LR:' ,acc_LR)
print('----')
f1_lr = cross_val_score(LR_1, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_LR = f1_lr.mean()
f1_LR
print('f1_LR:' ,f1_LR)
print('----')

# KNeighborsClassifier

KN_neigh = KNeighborsClassifier(n_neighbors=2)
KN_neigh.fit(x2_train_scaled, y2_train)
y_pred_KN_neigh = KN_neigh.predict(x2_test_scaled)

acc_KNN_1 = cross_val_score(KN_neigh, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_KNN = acc_KNN_1.mean()
print('acc_KNN:' ,acc_KNN)
print('----')
f1_knn = cross_val_score(KN_neigh, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_KNN = f1_knn.mean()
f1_KNN
print('f1_KNN:' ,f1_KNN)
print('----')

# LinearSVC

L_SVC = LinearSVC(random_state=0, tol=1e-5)
L_SVC.fit(x2_train_scaled, y2_train)
y_pred_SVC = L_SVC.predict(x2_test_scaled)

acc_SVM_1 = cross_val_score(L_SVC, x2_train_scaled, y2_train, cv=3, scoring='accuracy')
acc_SVM = acc_SVM_1.mean()
print('acc_SVM:' ,acc_SVM)
print('----')
f1_SVM_1 = cross_val_score(L_SVC, x2_train_scaled, y2_train, cv=3, scoring='f1')
f1_SVM = f1_SVM_1.mean()
f1_SVM
print('f1_SVM:' ,f1_SVM)
print('----')

# f1_LR = 0
# acc_LR = 0
# f1_KNN = 0
# acc_KNN = 0
# f1_SVM = 0
# acc_SVM = 0
results_classification.loc[1] = ['LogisticRegression', 'task13', f1_LR, acc_LR]
results_classification.loc[2] = ['KNeighborsClassifier', 'task13', f1_KNN, acc_KNN]
results_classification.loc[3] = ['LinearSVC', 'task13', f1_SVM, acc_SVM]

acc_LR: 0.850075470098
----
f1_LR: 0.904425656742
----
acc_KNN: 0.77580412115
----
f1_KNN: 0.842302813162
----
acc_SVM: 0.852455685347
----
f1_SVM: 0.906085615608
----

In [71]:
# Посчитал для себя
LR_1_cnf_matrix = metrics.confusion_matrix(y2_test, y2_pred_lr1)
LR_1_cnf_matrix

array([[1360,  995],
       [ 485, 6929]])

In [ ]:
# Истинно положительных предсказаний: TP = 1360
# Истинно отрицательные прогнозы: TN = 6929
# Ложноположительные прогнозы: FP = 485
# Ложноотрицательные прогнозы: FN = 995

14. Можно заметить что в данных присутствуют значения '?', замените их самыми частыми значениями, (испольуйте SimpleImputer). Посчитайте cross_val_score по алгоритмам LogisticRegression, KNeighborsClassifier, LinearSVC по метрикам accuracy и f1_score.

In [ ]:


### Ваш код ###

f1_LR = 0
acc_LR = 0
f1_KNN = 0
acc_KNN = 0
f1_SVM = 0
acc_SVM = 0
results_classification.loc[4] = ['LogisticRegression_impute', 'task14', f1_LR, acc_LR]
results_classification.loc[5] = ['KNeighborsClassifier_impute', 'task14', f1_KNN, acc_KNN]
results_classification.loc[6] = ['LinearSVC_impute', 'task14', f1_SVM, acc_SVM]

15. Посчитайте cross_val_score по тем же алгоритмам и метрикам, если просто удалить значения '?'.

In [ ]:


### Ваш код ###

f1_LR_del_missings = 0
acc_LR_del_missings = 0
f1_KNN_del_missings = 0
acc_KNN_del_missings = 0
f1_SVM_del_missings = 0
acc_SVM_del_missings = 0
results_classification.loc[7] = ['LogisticRegression_delete_missings', 'task15', f1_LR_del_missings, acc_LR_del_missings]
results_classification.loc[8] = ['KNeighborsClassifier_delete_missings', 'task15', f1_KNN_del_missings, acc_KNN_del_missings]
results_classification.loc[9] = ['LinearSVC_delete_missings', 'task15', f1_SVM_del_missings, acc_SVM_del_missings]

 16. Посчитайте cross_val_score для RandomForestClassifier,GradientBoostingClassifier на данных с замененными значениями '?' на самые частые значения.

In [ ]:


### Ваш код ###

f1_RF = 0
acc_RF = 0
f1_GB = 0
acc_GB = 0
results_classification.loc[10] = ['RandomForestClassifier', 'task16', f1_RF, acc_RF]
results_classification.loc[11] = ['GradientBoostingClassifier', 'task16', f1_GB, acc_GB]

17. Подберите наилучшую модель, подбирая методы обработки колонок - масштабирование признаков, кодирование признаков и заполнение пропусков. Параметры алгоритмов оставьте по умолчанию. Выведите итоговые параметры и результат accuracy и f1_score.

In [ ]:


### Ваш код ###

best_params = {}
print('Параметры лучшей модели:\n', best_params)
f1_best = 0
acc_best = 0
results_classification.loc[12] = ['Best_Model', 'task17', f1_best, acc_best]

In [103]:
results_classification